<a href="https://colab.research.google.com/github/tranlybuu/bai1/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_thuc_hanh_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/tranlybuu/OFF-code/main/baseball.csv?token=AQW7RIWJJS7XTWOTUAGGYUDAKP4JE")
print(df)

       id     player  year  stint team  lg  ...    so  ibb  hbp   sh   sf  gidp
0   88641  womacto01  2006      2  CHN  NL  ...   4.0  0.0  0.0  3.0  0.0   0.0
1   88643  schilcu01  2006      1  BOS  AL  ...   1.0  0.0  0.0  0.0  0.0   0.0
2   88645  myersmi01  2006      1  NYA  AL  ...   0.0  0.0  0.0  0.0  0.0   0.0
3   88649  helliri01  2006      1  MIL  NL  ...   2.0  0.0  0.0  0.0  0.0   0.0
4   88650  johnsra05  2006      1  NYA  AL  ...   4.0  0.0  0.0  0.0  0.0   0.0
..    ...        ...   ...    ...  ...  ..  ...   ...  ...  ...  ...  ...   ...
95  89525  benitar01  2007      2  FLO  NL  ...   0.0  0.0  0.0  0.0  0.0   0.0
96  89526  benitar01  2007      1  SFN  NL  ...   0.0  0.0  0.0  0.0  0.0   0.0
97  89530  ausmubr01  2007      1  HOU  NL  ...  74.0  3.0  6.0  4.0  1.0  11.0
98  89533   aloumo01  2007      1  NYN  NL  ...  30.0  5.0  2.0  0.0  3.0  13.0
99  89534  alomasa02  2007      1  NYN  NL  ...   3.0  0.0  0.0  0.0  0.0   0.0

[100 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [ ]:
import math
abc = lambda x: (x + math.log(x))/(math.sqrt(x))
print(abc(5))

2.9558304930533903

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [ ]:
df['stint'] = df.apply(lambda x: x['stint'] + 10, axis=1)
df.head(5)

      id     player  year  stint team  lg  ...   so  ibb  hbp   sh   sf  gidp
0  88641  womacto01  2006     32  CHN  NL  ...  4.0  0.0  0.0  3.0  0.0   0.0
1  88643  schilcu01  2006     31  BOS  AL  ...  1.0  0.0  0.0  0.0  0.0   0.0
2  88645  myersmi01  2006     31  NYA  AL  ...  0.0  0.0  0.0  0.0  0.0   0.0
3  88649  helliri01  2006     31  MIL  NL  ...  2.0  0.0  0.0  0.0  0.0   0.0
4  88650  johnsra05  2006     31  NYA  AL  ...  4.0  0.0  0.0  0.0  0.0   0.0

[5 rows x 23 columns]

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [ ]:
a = df[["id","stint"]]
new_df = a.apply(lambda x: x//2, axis=0)
new_df.head()

      id  stint
0  44320     16
1  44321     15
2  44322     15
3  44324     15
4  44325     15

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [ ]:
import numpy as np
sum = new_df.apply(np.sum, axis = 0)
mean = new_df.apply(np.mean, axis = 0)
sqrt = new_df.apply(np.sqrt, axis = 0)
log = new_df.apply(np.log, axis = 0)

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [ ]:
def my_function(x):
  if x>0:
    return math.log10(x)
  else:
    return np.exp(x)

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [ ]:
df['stint'] = df.apply(lambda x: my_function(x['stint']), axis=1)
df.head()

      id     player  year     stint team  lg  ...   so  ibb  hbp   sh   sf  gidp
0  88641  womacto01  2006  1.505150  CHN  NL  ...  4.0  0.0  0.0  3.0  0.0   0.0
1  88643  schilcu01  2006  1.491362  BOS  AL  ...  1.0  0.0  0.0  0.0  0.0   0.0
2  88645  myersmi01  2006  1.491362  NYA  AL  ...  0.0  0.0  0.0  0.0  0.0   0.0
3  88649  helliri01  2006  1.491362  MIL  NL  ...  2.0  0.0  0.0  0.0  0.0   0.0
4  88650  johnsra05  2006  1.491362  NYA  AL  ...  4.0  0.0  0.0  0.0  0.0   0.0

[5 rows x 23 columns]