<a href="https://colab.research.google.com/github/tranlybuu/bai1/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [2]:
import pandas as pd
import numpy as np
test = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18])
test

0     1
1     4
2     7
3     9
4    10
5    12
6    15
7    16
8    17
9    18
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [3]:
ex2 = pd.Series({'Buu' : 1,'Phong' : 3,'Tan' : 5,'Manh' : 7,'Thang' : 9})
ex2

Buu      1
Phong    3
Tan      5
Manh     7
Thang    9
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [6]:
test = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18], index=['Ax', 'B', 'Cx', 'Dx', 'E', 'F', 'Gx', 'H', 'Kx', 'L'])
test

Ax     1
B      4
Cx     7
Dx     9
E     10
F     12
Gx    15
H     16
Kx    17
L     18
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [5]:
print(ex2[4])

9

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [12]:
print(test['Cx'])

7

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [10]:
test[[name.endswith('x') for name in test.index]]

Ax     1
Cx     7
Dx     9
Gx    15
Kx    17
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [13]:
test.name = 'Gia_tri'
test.index.name = 'STT'
test

STT
Ax     1
B      4
Cx     7
Dx     9
E     10
F     12
Gx    15
H     16
Kx    17
L     18
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [14]:
np.log(test)

STT
Ax    0.000000
B     1.386294
Cx    1.945910
Dx    2.197225
E     2.302585
F     2.484907
Gx    2.708050
H     2.772589
Kx    2.833213
L     2.890372
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [15]:
test[test>15]

STT
H     16
Kx    17
L     18
Name: Gia_tri, dtype: int64