In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

### Hồi quy tuyến tính

Sử dụng tập dữ liệu giá nhà đất - HousePrice.csv

- Area: Khu vực nhà
- Room: Số phòng trong nhà
- Parking: Có/Không có chỗ đậu xe
- Warehouse: Có/Không có nhà kho
- Elevator: Có/Không có thang máy
- Price: Giá của nhà (USE)

In [45]:
df = pd.read_csv('https://raw.githubusercontent.com/tranlybuu/BaiTap/main/2022/HousePrice.csv')
df = df.drop(['Address','Price'],axis=1)
df.head(5)

  Area  Room  Parking  Warehouse  Elevator  Price(USD)
0   63     1     True       True      True    61666.67
1   60     1     True       True      True    61666.67
2   79     2     True       True      True    18333.33
3   95     2     True       True      True    30083.33
4  123     2     True       True      True   233333.33

In [46]:
from sklearn import preprocessing
# Tách cột giá nhà và chuyển hóa các giá trị True/False thành 1/0
df = df[df.columns[:]].apply(preprocessing.LabelEncoder().fit_transform)
output = df['Price(USD)']
input = df.drop(['Price(USD)'],axis=1)

Mô tả dữ liệu

In [47]:
print("Kích thước của tập dữ liệu:",df.shape)

Kích thước của tập dữ liệu: (3479, 6)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3479 non-null   int32
 1   Room        3479 non-null   int64
 2   Parking     3479 non-null   int64
 3   Warehouse   3479 non-null   int64
 4   Elevator    3479 non-null   int64
 5   Price(USD)  3479 non-null   int64
dtypes: int32(1), int64(5)
memory usage: 149.6 KB

In [49]:
df.describe()

,Area,Room,Parking,Warehouse,Elevator,Price(USD)
count,3479.000000,3479.000000,3479.000000,3479.000000,3479.000000,3479.000000
mean,141.590974,2.079908,0.847945,0.914631,0.787295,431.971831
std,84.564930,0.758275,0.359126,0.279471,0.409279,232.006456
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,46.000000,2.000000,1.000000,1.000000,1.000000,253.500000
50%,185.000000,2.000000,1.000000,1.000000,1.000000,432.000000
75%,214.000000,2.000000,1.000000,1.000000,1.000000,604.000000
max,242.000000,5.000000,1.000000,1.000000,1.000000,931.000000

Chia tập dữ liệu train và test

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input, output, test_size=0.3, random_state=0)

Huấn luyện mô hình với tập dữ liệu train

In [51]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

Kiểm thử mô  hình với tập dữ liệu test

In [58]:
y_pred = model.predict(X_test)
print("accuracy:",model.score(X_test, y_test))
print('mse:',sklearn.metrics.mean_squared_error(y_test, y_pred))

accuracy: 0.46601206447086774
mse: 27576.444051931194

### Hồi quy tuyến tính

In [59]:
df = pd.read_csv('https://raw.githubusercontent.com/tranlybuu/BaiTap/main/2022/numberFacebookUser.csv')
df.head(5)

   Q3 '08  100
0  Q1 '09  197
1  Q2 '09  242
2  Q3 '09  305
3  Q4 '09  360
4  Q1 '10  431

### Hồi quy logistic