In [16]:
import pandas as pd
import numpy as np

Bài 1

Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

In [17]:
hovaten = pd.Series(['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh	Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật	Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn'])
namsinh = pd.Series(['2002','2002','1996','2002','2002','2002','2002','2002','2002','1994'])
tiencong = pd.Series(np.random.randint(100,size=10))
sogiocong = pd.Series(np.random.randint(10,size=10))
thuclinh = pd.Series([0,0,0,0,0,0,0,0,0,0])

Tạo 1 dataframe bằng cách ghép các series trên lại với nhau

In [18]:
df = pd.DataFrame(data=[hovaten,namsinh,tiencong,sogiocong,thuclinh])
df.index = ['hovaten','namsinh','tiencong','sogiocong','thuclinh']
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,86,91,71,97,49,61,57,61,70,97
sogiocong,1,2,7,7,6,3,9,5,5,2
thuclinh,0,0,0,0,0,0,0,0,0,0

Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:

Thực lĩnh = “Số h công” x “Tiền công/h”

In [19]:
result = [tiencong[i]*sogiocong[i] for i in range(10)]
df.loc['thuclinh'] = result
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,86,91,71,97,49,61,57,61,70,97
sogiocong,1,2,7,7,6,3,9,5,5,2
thuclinh,86,182,497,679,294,183,513,305,350,194

Bài 2

In [20]:
Ho_ten = ['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn']
Tuoi = [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ]
Gioi_tinh = ['Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam']
frame = { 'Họ và tên': Ho_ten, 'Tuổi': Tuoi, 'Giới tính': Gioi_tinh}
result = pd.DataFrame(frame)
print(result)

              Họ và tên  Tuổi Giới tính
0            Lê Văn Tân    21       Nam
1        Nguyễn Anh Đức     1       Nam
2        Lê Bá Minh Huy     3       Nam
3     Lê Đình Đăng Khoa     7       Nam
4       Nguyễn Đức Mạnh     6       Nam
5       Hoàng Ngọc Minh     3       Nam
6    Lê Quang Nhật Minh    12       Nam
7  Nguyễn Tiến Anh Quân     8       Nam
8      Huỳnh Ngọc Thành    24       Nam
9      Tôn Thất Bảo Văn    27       Nam

In [21]:
data = {'Họ và tên': ['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn'],
        'Tuổi': [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ],
        'Giới tính': ['Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam']} 
df = pd.DataFrame.from_dict(data)
df

              Họ và tên  Tuổi Giới tính
0            Lê Văn Tân    21       Nam
1        Nguyễn Anh Đức     1       Nam
2        Lê Bá Minh Huy     3       Nam
3     Lê Đình Đăng Khoa     7       Nam
4       Nguyễn Đức Mạnh     6       Nam
5       Hoàng Ngọc Minh     3       Nam
6    Lê Quang Nhật Minh    12       Nam
7  Nguyễn Tiến Anh Quân     8       Nam
8      Huỳnh Ngọc Thành    24       Nam
9      Tôn Thất Bảo Văn    27       Nam

In [22]:
data2 = [
         {'Họ và tên': 'Lê Văn Tân', 'Tuổi': 21, 'Giới tính': 'Nam'},
         {'Họ và tên': 'Nguyễn Anh Đức',  'Tuổi': 1, 'Giới tính': 'Nam'},
         {'Họ và tên': 'Lê Bá Minh Huy',  'Tuổi': 3,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Lê Đình Đăng Khoa',  'Tuổi': 7,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Nguyễn Đức Mạnh',  'Tuổi': 6,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Hoàng Ngọc Minh',  'Tuổi': 3,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Lê Quang Nhật Minh',  'Tuổi': 12,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Nguyễn Tiến Anh Quân',  'Tuổi': 8,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Huỳnh Ngọc Thành',  'Tuổi': 24,  'Giới tính': 'Nam' },
         {'Họ và tên': 'Tôn Thất Bảo Văn',  'Tuổi': 27,  'Giới tính': 'Nam' }]
df2 = pd.DataFrame.from_dict(data2)
df2

              Họ và tên  Tuổi Giới tính
0            Lê Văn Tân    21       Nam
1        Nguyễn Anh Đức     1       Nam
2        Lê Bá Minh Huy     3       Nam
3     Lê Đình Đăng Khoa     7       Nam
4       Nguyễn Đức Mạnh     6       Nam
5       Hoàng Ngọc Minh     3       Nam
6    Lê Quang Nhật Minh    12       Nam
7  Nguyễn Tiến Anh Quân     8       Nam
8      Huỳnh Ngọc Thành    24       Nam
9      Tôn Thất Bảo Văn    27       Nam

In [23]:
Ho_ten = ['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn']
Tuoi = [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ]
Gioi_tinh = ['Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam','Nam']
x = zip(Ho_ten, Tuoi, Gioi_tinh)
df3 = pd.DataFrame(x,columns = ['Họ và tên', 'Tuổi','Giới tính'])
df3

              Họ và tên  Tuổi Giới tính
0            Lê Văn Tân    21       Nam
1        Nguyễn Anh Đức     1       Nam
2        Lê Bá Minh Huy     3       Nam
3     Lê Đình Đăng Khoa     7       Nam
4       Nguyễn Đức Mạnh     6       Nam
5       Hoàng Ngọc Minh     3       Nam
6    Lê Quang Nhật Minh    12       Nam
7  Nguyễn Tiến Anh Quân     8       Nam
8      Huỳnh Ngọc Thành    24       Nam
9      Tôn Thất Bảo Văn    27       Nam