In [5]:
import pandas as pd
import numpy as np

Bài 1

In [6]:
pd.Series()

C:\Users\b00\AppData\Local\Temp\ipykernel_1888\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

Bài 2

In [17]:
pd.Series(np.random.randint(100,size=7))

0    70
1     8
2    97
3    93
4    75
5    62
6    18
dtype: int32

Bài 3

In [11]:
n = [int(input(f"Nhập {i+1} = ")) for i in range(7)]
pd.Series(n)

0    123
1    456
2    789
3    654
4    234
5    765
6    456
dtype: int64

Bài 4

In [25]:
pd.Series(np.random.randint(100,size=(7,1)).reshape(-1))

0    79
1    13
2    40
3    72
4    59
5    17
6    73
dtype: int32

Bài 5

In [14]:
n = 5
arr = [input(f"Nhập {i+1}: ") for i in range(n)]
print("List ban đầu:",arr)
pd.Series(arr)

List ban đầu: ['abc', 'xyz', 'qwer', 'wasd', 'eq flash']

0         abc
1         xyz
2        qwer
3        wasd
4    eq flash
dtype: object

In [15]:
fruits = ("apple", "banana", "guava")
pd.Series(fruits)

0     apple
1    banana
2     guava
dtype: object

In [16]:
dictCar = {
    "brand": "Honda",
    "model": "Honda Civic",
    "year": 1972
}
pd.Series (dictCar)

brand          Honda
model    Honda Civic
year            1972
dtype: object

Bài 6

In [59]:
arr = pd.Series(np.random.randint(100,size=20))
print(arr)

0     43
1     19
2     87
3     49
4     37
5     50
6     59
7     50
8     55
9     74
10    26
11    89
12    25
13    59
14    53
15    26
16    64
17    57
18    69
19    20
dtype: int32

In [60]:
index = [f'num{i+1}' for i in range(20)]
arr.index = index
print(arr)

num1     43
num2     19
num3     87
num4     49
num5     37
num6     50
num7     59
num8     50
num9     55
num10    74
num11    26
num12    89
num13    25
num14    59
num15    53
num16    26
num17    64
num18    57
num19    69
num20    20
dtype: int32

Bài 7

In [58]:
arr = pd.Series(np.random.randint(100,size=10))
index = ['a','b','c','d','e','f','g','h','i','j']
arr.index = index
print(arr)

a    17
b    21
c    57
d    90
e    29
f    70
g    15
h    66
i    62
j    17
dtype: int32

In [47]:
arr.loc[['a','c','e']]

a    61
c    43
e    93
dtype: int32

In [55]:
arr.iloc[2:6]

c    43
d    24
e    93
f     6
dtype: int32