In [1]:
import pandas as pd
import numpy as np

Bài 1

In [2]:
hovaten = pd.Series(['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh	Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật	Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn'])
namsinh = pd.Series(['2002','2002','1996','2002','2002','2002','2002','2002','2002','1994'])
tiencong = pd.Series(np.random.randint(100,size=10))
sogiocong = pd.Series(np.random.randint(10,size=10))
thuclinh = pd.Series([0,0,0,0,0,0,0,0,0,0])

In [3]:
df = pd.DataFrame(data=[hovaten,namsinh,tiencong,sogiocong,thuclinh])
df.index = ['hovaten','namsinh','tiencong','sogiocong','thuclinh']
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,84,8,10,91,97,96,85,86,97,29
sogiocong,2,0,0,3,0,6,0,0,1,6
thuclinh,0,0,0,0,0,0,0,0,0,0

In [4]:
result = [tiencong[i]*sogiocong[i] for i in range(10)]
df.loc['thuclinh'] = result
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,84,8,10,91,97,96,85,86,97,29
sogiocong,2,0,0,3,0,6,0,0,1,6
thuclinh,168,0,0,273,0,576,0,0,97,174

Bài 2

In [5]:
Ho_ten = ['Khoa', 'Phuc', 'Long', 'Hoang', 'Hoa', 'Khue', 'Khang', 'Vu', 'Linh', 'Sang']
Tuoi = [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ]
Gioi_tinh = ['Nam','Nam','Nam','Nam','Nu','Nu','Nam','Nam','Nu','Nam']
frame = { 'Họ và tên': Ho_ten, 'Tuổi': Tuoi, 'Giới tính': Gioi_tinh}
result = pd.DataFrame(frame)
print(result)

  Họ và tên  Tuổi Giới tính
0      Khoa    21       Nam
1      Phuc     1       Nam
2      Long     3       Nam
3     Hoang     7       Nam
4       Hoa     6        Nu
5      Khue     3        Nu
6     Khang    12       Nam
7        Vu     8       Nam
8      Linh    24        Nu
9      Sang    27       Nam

In [6]:
data = {'Ho_ten': ['Khoa', 'Phuc', 'Long', 'Hoang', 'Hoa', 'Khue', 'Khang', 'Vu', 'Linh', 'Sang'],
        'Tuoi': [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ],
        'Gioi_tinh': ['Nam','Nam','Nam','Nam','Nu','Nu','Nam','Nam','Nu','Nam']} 
df = pd.DataFrame.from_dict(data)
df

  Ho_ten  Tuoi Gioi_tinh
0   Khoa    21       Nam
1   Phuc     1       Nam
2   Long     3       Nam
3  Hoang     7       Nam
4    Hoa     6        Nu
5   Khue     3        Nu
6  Khang    12       Nam
7     Vu     8       Nam
8   Linh    24        Nu
9   Sang    27       Nam

In [7]:
data2 = [{'Ho_ten': 'Khoa', 'Tuoi': 21, 'Gioi_tinh': 'Nam'},
         {'Ho_ten': 'Phuc',  'Tuoi': 1, 'Gioi_tinh': 'Nam'},
         {'Ho_ten': 'Long',  'Tuoi': 3,  'Gioi_tinh': 'Nam' },
         {'Ho_ten': 'Hoang',  'Tuoi': 7,  'Gioi_tinh': 'Nam' },
         {'Ho_ten': 'Hoa',  'Tuoi': 6,  'Gioi_tinh': 'Nu' },
         {'Ho_ten': 'Khue',  'Tuoi': 3,  'Gioi_tinh': 'Nu' },
         {'Ho_ten': 'Khang',  'Tuoi': 12,  'Gioi_tinh': 'Nam' },
         {'Ho_ten': 'Vu',  'Tuoi': 8,  'Gioi_tinh': 'Nam' },
         {'Ho_ten': 'Linh',  'Tuoi': 24,  'Gioi_tinh': 'Nu' },
         {'Ho_ten': 'Sang',  'Tuoi': 27,  'Gioi_tinh': 'Nam' }]
df2 = pd.DataFrame.from_dict(data2)
df2

  Ho_ten  Tuoi Gioi_tinh
0   Khoa    21       Nam
1   Phuc     1       Nam
2   Long     3       Nam
3  Hoang     7       Nam
4    Hoa     6        Nu
5   Khue     3        Nu
6  Khang    12       Nam
7     Vu     8       Nam
8   Linh    24        Nu
9   Sang    27       Nam

In [8]:
Ho_ten = ['Khoa', 'Phuc', 'Long', 'Hoang', 'Hoa', 'Khue', 'Khang', 'Vu', 'Linh', 'Sang']
Tuoi = [21, 1, 3, 7, 6, 3, 12, 8, 24, 27 ]
Gioi_tinh = ['Nam','Nam','Nam','Nam','Nu','Nu','Nam','Nam','Nu','Nam']
x = zip(Ho_ten, Tuoi, Gioi_tinh)
df3 = pd.DataFrame(x,columns = ['Ho_ten', 'Tuoi','Gioi_tinh'])
df3

  Ho_ten  Tuoi Gioi_tinh
0   Khoa    21       Nam
1   Phuc     1       Nam
2   Long     3       Nam
3  Hoang     7       Nam
4    Hoa     6        Nu
5   Khue     3        Nu
6  Khang    12       Nam
7     Vu     8       Nam
8   Linh    24        Nu
9   Sang    27       Nam