In [33]:
import pandas as pd
import numpy as np

Bài 1

In [34]:
hovaten = pd.Series(['Lê Văn Tân','Nguyễn Anh Đức','Lê Bá Minh	Huy','Lê Đình Đăng Khoa','Nguyễn Đức Mạnh','Hoàng Ngọc Minh','Lê Quang Nhật	Minh','Nguyễn Tiến Anh Quân','Huỳnh Ngọc Thành','Tôn Thất Bảo Văn'])
namsinh = pd.Series(['2002','2002','1996','2002','2002','2002','2002','2002','2002','1994'])
tiencong = pd.Series(np.random.randint(100,size=10))
sogiocong = pd.Series(np.random.randint(10,size=10))
thuclinh = pd.Series([0,0,0,0,0,0,0,0,0,0])

In [35]:
df = pd.DataFrame(data=[hovaten,namsinh,tiencong,sogiocong,thuclinh])
df.index = ['hovaten','namsinh','tiencong','sogiocong','thuclinh']
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,80,40,81,21,88,38,43,30,34,67
sogiocong,0,6,4,2,9,5,3,8,8,4
thuclinh,0,0,0,0,0,0,0,0,0,0

In [42]:
result = [tiencong[i]*sogiocong[i] for i in range(10)]
df.loc['thuclinh'] = result
df

,0,1,2,3,4,5,6,7,8,9
hovaten,Lê Văn Tân,Nguyễn Anh Đức,Lê Bá Minh\tHuy,Lê Đình Đăng Khoa,Nguyễn Đức Mạnh,Hoàng Ngọc Minh,Lê Quang Nhật\tMinh,Nguyễn Tiến Anh Quân,Huỳnh Ngọc Thành,Tôn Thất Bảo Văn
namsinh,2002,2002,1996,2002,2002,2002,2002,2002,2002,1994
tiencong,80,40,81,21,88,38,43,30,34,67
sogiocong,0,6,4,2,9,5,3,8,8,4
thuclinh,0,240,324,42,792,190,129,240,272,268

Bài 2